{% extends 'template.html' %}

{% block body_content %}
<div class="football-row">
    <div class="football-column">
        <img  src="\static\images\football_logos\AFC Bournemouth.png" alt="AFC Bournemouth logo" style="width:100%">
    </div>
    <div class="football-column">
        <img  src="\static\images\football_logos\Arsenal.png" alt="AFC Bournemouth logo" style="width:100%">
    </div>
    <div class="football-column">
        <img  src="\static\images\football_logos\Aston Villa.png" alt="AFC Bournemouth logo" style="width:100%">
    </div>
    <div class="football-column">
        <img  src="\static\images\football_logos\Brentford.png" alt="AFC Bournemouth logo" style="width:100%">
    </div>
    <div class="football-column">
        <img  src="\static\images\football_logos\Brighton.png" alt="AFC Bournemouth logo" style="width:100%">
    </div>
    <div class="football-column">
        <img  src="\static\images\football_logos\Burnley.png" alt="AFC Bournemouth logo" style="width:100%">
    </div>
    <div class="football-column">
        <img  src="\static\images\football_logos\Chelsea.png" alt="AFC Bournemouth logo" style="width:100%">
    </div>
    <div class="football-column">
        <img  src="\static\images\football_logos\Crystal Palace.png" alt="AFC Bournemouth logo" style="width:100%">
    </div>
    <div class="football-column">
        <img  src="\static\images\football_logos\Everton.png" alt="AFC Bournemouth logo" style="width:100%">
    </div>
    <div class="football-column">
        <img  src="\static\images\football_logos\AFC Bournemouth.png" alt="AFC Bournemouth logo" style="width:100%">
    </div>
    <div class="football-column">
        <img  src="\static\images\football_logos\AFC Bournemouth.png" alt="AFC Bournemouth logo" style="width:100%">
    </div>
    <div class="football-column">
        <img  src="\static\images\football_logos\AFC Bournemouth.png" alt="AFC Bournemouth logo" style="width:100%">
    </div>
</div>



<script type="text/javascript" src="{{ url_for('static', filename='js/background.js')}}"></script>
{% endblock %}