{% extends 'template.html' %}

{% block body_content %}
<div class="logo-row">
    <div class="logo-column">
        <a href="https://www.afcb.co.uk/tickets/" target="_blank">
            <img src="\static\images\football_logos\AFC Bournemouth.svg" alt="AFC Bournemouth" style="width:150px ; height:116.50px">
        </a>
    </div>
    <div class="logo-column">
        <a href="https://www.arsenal.com/tickets?field_arsenal_team_target_id=1&revision_information=" target="_blank">
            <img src="\static\images\football_logos\Arsenal.svg" alt="Arsenal" style="width:150px ; height:116.50px">
        </a>
    </div>
    <div class="logo-column">
        <a href="https://tickets.avfc.co.uk/en-GB/categories/home-tickets" target="_blank">
            <img src="\static\images\football_logos\Aston Villa.svg" alt="Aston Villa" style="width:150px ; height:116.50px">
        </a>
    </div>
    <div class="logo-column">
        <a href="https://www.brentfordfc.com/en/home-tickets" target="_blank">
            <img src="\static\images\football_logos\Brentford.svg" alt="Brentford" style="width:150px ; height:116.50px">
        </a>
    </div>
    <div class="logo-column">
        <a href="https://tickets.brightonandhovealbion.com/en-gb/categories/home" target="_blank">
            <img src="\static\images\football_logos\Brighton.svg" alt="Brighton" style="width:150px ; height:116.50px">
        </a>
    </div>
    <div class="logo-column">
        <a href="https://tickets.burnleyfootballclub.com/PagesPublic/ProductBrowse/ProductHome.aspx?productsubtype=HOME" target="_blank">
            <img src="\static\images\football_logos\burnley.svg" alt="Burnley" style="width:150px ; height:116.50px">
        </a>
    </div>
    <div class="logo-column">
        <a href="https://www.chelseafc.com/en/tickets/mens-tickets" target="_blank">
            <img src="\static\images\football_logos\Chelsea.svg" alt="Chelsea" style="width:150px ; height:116.50px">
        </a>
    </div>
    <div class="logo-column">
        <a href="https://www.cpfc.co.uk/tickets/" target="_blank">
            <img src="\static\images\football_logos\Crystal Palace.svg" alt="Crystal Palace" style="width:150px ; height:116.50px">
        </a>
    </div>
    <div class="logo-column">
        <a href="https://www.eticketing.co.uk/evertonfc" target="_blank">
            <img src="\static\images\football_logos\Everton.svg" alt="Everton" style="width:150px ; height:116.50px">
        </a>
    </div>
    <div class="logo-column">
        <a href="https://tickets.fulhamfc.com/content" target="_blank">
            <img src="\static\images\football_logos\Fulham.svg" alt="Fulham" style="width:150px ; height:116.50px">
        </a>
    </div>
    <div class="logo-column">
        <a href="https://www.liverpoolfc.com/tickets/tickets-availability" target="_blank">
            <img src="\static\images\football_logos\Liverpool.svg" alt="Liverpool" style="width:150px ; height:116.50px">
        </a>
    </div>
    <div class="logo-column">
        <a href="https://www.eticketing.co.uk/lutontown" target="_blank">
            <img src="\static\images\football_logos\Luton Town.svg" alt="Luton Town" style="width:150px ; height:116.50px">
        </a>
    </div>
    <div class="logo-column">
        <a href="https://www.mancity.com/tickets/mens" target="_blank">
            <img src="\static\images\football_logos\Manchester City.svg" alt="Manchester City" style="width:150px ; height:116.50px">
        </a>
    </div>
    <div class="logo-column">
        <a href="https://tickets.manutd.com/en-GB/categories/home-tickets" target="_blank">
            <img src="\static\images\football_logos\Manchester United.png" alt="Manchester United" style="width:150px ; height:116.50px">
        </a>
    </div>
    <div class="logo-column">
        <a href="https://www.nufc.co.uk/tickets/" target="_blank">
            <img src="\static\images\football_logos\Newcastle United.png" alt="Newcastle United" style="width:150px ; height:116.50px">
        </a>
    </div>
    <div class="logo-column">
        <a href="https://www.eticketing.co.uk/nottinghamforest/" target="_blank">
            <img src="\static\images\football_logos\Nottingham Forest.svg" alt="Nottingham Forest" style="width:150px ; height:116.50px">
        </a>
    </div>
    <div class="logo-column">
        <a href="https://www.sufc.co.uk/matches" target="_blank">
            <img src="\static\images\football_logos\Sheffield United.svg" alt="Sheffield United" style="width:150px ; height:116.50px">
        </a>
    </div>
    <div class="logo-column">
        <a href="https://www.tottenhamhotspur.com/tickets/buy-tickets/home-tickets/" target="_blank">
            <img src="\static\images\football_logos\Tottenham Hotspur.svg" alt="Tottenham Hotspur" style="width:150px ; height:116.50px">
        </a>
    </div>
    <div class="logo-column">
        <a href="https://www.whufc.com/tickets/home-matches" target="_blank">
            <img src="\static\images\football_logos\West Ham United.svg" alt="West Ham United" style="width:150px ; height:116.50px">
        </a>
    </div>
    <div class="logo-column">
        <a href="https://www.eticketing.co.uk/wolves/" target="_blank">
            <img src="\static\images\football_logos\Wolverhampton Wanderers.svg" alt="Wolverhampton Wanderers." style="width:150px ; height:116.50px">
        </a>
    </div>
</div>



<script type="text/javascript" src="{{ url_for('static', filename='js/background.js')}}"></script>
{% endblock %}