{% extends 'template.html' %}

{% block body_content %}
<div class="logo-row">
    <div class="logo-column">
        <a href="TICKETS" target="_blank">
            <img src="\static\images\football_logos\AFC Bournemouth.png" alt="AFC Bournemouth" style="width:150px ; height:116.50px">
        </a>
    </div>
    <div class="logo-column">
        <a href="TICKETS" target="_blank">
            <img src="\static\images\football_logos\Arsenal.png" alt="Arsenal" style="width:150px ; height:116.50px">
        </a>
    </div>
    <div class="logo-column">
        <a href="TICKETS" target="_blank">
            <img src="\static\images\football_logos\Aston Villa.png" alt="Aston Villa" style="width:150px ; height:116.50px">
        </a>
    </div>
    <div class="logo-column">
        <a href="TICKETS" target="_blank">
            <img src="\static\images\football_logos\Brentford.png" alt="Brentford" style="width:150px ; height:116.50px">
        </a>
    </div>
    <div class="logo-column">
        <a href="TICKETS" target="_blank">
            <img src="\static\images\football_logos\Brighton.png" alt="Brighton" style="width:150px ; height:116.50px">
        </a>
    </div>
    <div class="logo-column">
        <a href="TICKETS" target="_blank">
            <img src="\static\images\football_logos\burnley.png" alt="Burnley" style="width:150px ; height:116.50px">
        </a>
    </div>
    <div class="logo-column">
        <a href="TICKETS" target="_blank">
            <img src="\static\images\football_logos\Chelsea.png" alt="Chelsea" style="width:150px ; height:116.50px">
        </a>
    </div>
    <div class="logo-column">
        <a href="TICKETS" target="_blank">
            <img src="\static\images\football_logos\Crystal Palace.png" alt="Crystal Palace" style="width:150px ; height:116.50px">
        </a>
    </div>
    <div class="logo-column">
        <a href="TICKETS" target="_blank">
            <img src="\static\images\football_logos\Everton.png" alt="Everton" style="width:150px ; height:116.50px">
        </a>
    </div>
    <div class="logo-column">
        <a href="TICKETS" target="_blank">
            <img src="\static\images\football_logos\Fulham.png" alt="Fulham" style="width:150px ; height:116.50px">
        </a>
    </div>
    <div class="logo-column">
        <a href="TICKETS" target="_blank">
            <img src="\static\images\football_logos\Liverpool.png" alt="Liverpool" style="width:150px ; height:116.50px">
        </a>
    </div>
    <div class="logo-column">
        <a href="TICKETS" target="_blank">
            <img src="\static\images\football_logos\Luton Town.png" alt="Luton Town" style="width:150px ; height:116.50px">
        </a>
    </div>
    <div class="logo-column">
        <a href="TICKETS" target="_blank">
            <img src="\static\images\football_logos\Manchester City.png" alt="Manchester City" style="width:150px ; height:116.50px">
        </a>
    </div>
    <div class="logo-column">
        <a href="TICKETS" target="_blank">
            <img src="\static\images\football_logos\Manchester United.png" alt="Manchester United" style="width:150px ; height:116.50px">
        </a>
    </div>
    <div class="logo-column">
        <a href="TICKETS" target="_blank">
            <img src="\static\images\football_logos\Newcastle United.png" alt="Newcastle United" style="width:150px ; height:116.50px">
        </a>
    </div>
    <div class="logo-column">
        <a href="TICKETS" target="_blank">
            <img src="\static\images\football_logos\Nottingham Forest.png" alt="Nottingham Forest" style="width:150px ; height:116.50px">
        </a>
    </div>
    <div class="logo-column">
        <a href="TICKETS" target="_blank">
            <img src="\static\images\football_logos\Sheffield United.png" alt="Aston Villa" style="width:150px ; height:116.50px">
        </a>
    </div>
    <div class="logo-column">
        <a href="TICKETS" target="_blank">
            <img src="\static\images\football_logos\Tottenham Hotspur.png" alt="Tottenham Hotspur" style="width:150px ; height:116.50px">
        </a>
    </div>
    <div class="logo-column">
        <a href="TICKETS" target="_blank">
            <img src="\static\images\football_logos\West Ham United.png" alt="West Ham United" style="width:150px ; height:116.50px">
        </a>
    </div>
    <div class="logo-column">
        <a href="TICKETS" target="_blank">
            <img src="\static\images\football_logos\Wolverhampton Wanderers..png" alt="Wolverhampton Wanderers." style="width:150px ; height:116.50px">
        </a>
    </div>
</div>



<script type="text/javascript" src="{{ url_for('static', filename='js/background.js')}}"></script>
{% endblock %}