{% extends 'template.html' %}

{% block body_content %}

<div class="header">
  <h3>Welcome to Trident! <br> The sports events ticketing platform!</h3>
</div>

<container>
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="{{ url_for('static', filename='soccer.jpg') }}">
        <img src="{{ url_for('static', filename='soccer.jpg') }}" alt="soccer" width="600" height="400">
      </a>
      <div class="desc">Football</div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="{{ url_for('static', filename='icehockey.jpg') }}">
        <img src="{{ url_for('static', filename='icehockey.jpg') }}" alt="ice hockey" width="600" height="400">
      </a>
      <div class="desc">Ice Hockey</div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="{{ url_for('static', filename='rugby.jpg') }}">
        <img src="{{ url_for('static', filename='rugby.jpg') }}" alt="rugby" width="600" height="400">
      </a>
      <div class="desc">Rugby</div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="{{ url_for('static', filename='motorsports.jpg') }}">
        <img src="{{ url_for('static', filename='motorsports.jpg') }}" alt="motorsports" width="600" height="400">
      </a>
      <div class="desc">Motorsports</div>
    </div>
  </div>
</container>

{% endblock %}
