{% extends 'template.html' %}

{% block body_content %}

<
  <div class="logo-row">
      <div class="logo-column">
        <a href="https://www.ticketmaster.co.uk/belfast-giants-tickets/artist/30107?camefrom=CFC_IE_CLI_GIANTS_WEB_&brand=ie_ssearena" target="_blank">
          <img src="\static\images\ihockey_logos\Belfast Giants.png" alt="Belfast Giants" style="width: 150px;"></a>
      </div>
      <div class="logo-column">
        <a href="https://www.cardiffdevils.com/tickets/book-online/" target="_blank">
          <img src="\static\images\ihockey_logos\Cardiff Devils.png" alt="Cardiff Devils" style="width: 150px;"></a>
      </div>
      <div class="logo-column">
        <a href="https://iceaccount.co.uk/coventry-blaze" target="_blank">
          <img src="\static\images\ihockey_logos\Cov Blaze.png" alt="Coventry Blaze" style="width: 150px; height: 150px;"></a>
      </div>
      <div class="logo-column">
        <a href="https://www.dundeestars.com/tickets/" target="_blank">
          <img src="\static\images\ihockey_logos\Dundee Stars.png" alt="Dundee Stars" style="width: 150px;"></a>
      </div>
      <div class="logo-column">
        <a href="https://fifeflyers.co.uk/tickets-2/" target="_blank">
          <img  src="\static\images\ihockey_logos\Fife Flyers.png" alt="Fife Flyers" style="width: 150px;"></a>
      </div>
      <div class="logo-column">
        <a href="https://clanihc.com/tickets/game-day-tickets/" target="_blank">
          <img  src="\static\images\ihockey_logos\Glasgow Clan.png" alt="Glasgow Clan" style="width: 150px;"></a>
      </div>
       <div class="logo-column">
        <a href="https://www.guildfordflames.co.uk/tickets" target="_blank">
          <img src="\static\images\ihockey_logos\Guildford Flames.png" alt="Guildford Flames" style="width: 150px;"></a>
      </div>
      <div class="logo-column">
        <a href="https://iceaccount.co.uk/manchester-storm" target="_blank">
          <img src="\static\images\ihockey_logos\Manchester Storm.png" alt="Manchester Storm" style="width: 150px;"></a>
      </div>
      <div class="logo-column">
        <a href="https://tickets.motorpointarenanottingham.com/shows/show.aspx?sh=npanther23" target="_blank">
          <img src="\static\images\ihockey_logos\Nottingham Panthers.png" alt="Nottingham Panthers" style="width: 150px;"></a>
      </div>
      <div class="logo-column">
        <a href="https://www.ticketmaster.co.uk/venueartist/435513/30123?brand=uk_sheffieldarena" target="_blank">
          <img src="\static\images\ihockey_logos\Sheffield Steelers.png" alt="Sheffield Steelers" style="width: 150px;"></a>
      </div>
  </div>

  <script type="text/javascript" src="{{ url_for('static', filename='js/background.js')}}"></script>

    {% endblock %}
