{% extends 'template.html' %}

{% block body_content %}
    
<div class="login-form">
  <script type="text/javascript" src="{{ url_for('static', filename='js/background.js')}}"></script>
  <h1>User Login</h1>
  <form id="loginForm">
      <label for="name">Username:</label>
      <input type="text" id="username" name="username" required>
      
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
      
      
      
      
        <button type="submit">Submit</button>
      
      
      <button class="signup" onclick="document.getElementById('id02').style.display='block'" style="width:auto;">Sign Up</button>
    </form>
  </div>
      
  

<div id="id02" class="modal">

  <form class="modal-content animate" action="/action_page.php" method="post">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Avatar" class="avatar">
    </div>

    <div class="container">
      <label for="fname"><b>Full Name</b></label>
      <input type="text" placeholder="Enter Full Name" name="fname" required>

      <label for="email"><b>Email</b></label>
<input type="email" placeholder="Enter Email" name="email" required class="modal-input">

<label for="psw"><b>Password</b></label>
<input type="password" placeholder="Enter Password" name="psw" required class="modal-input">

<label for="psw-repeat"><b>Repeat Password</b></label>
<input type="password" placeholder="Repeat Password" name="psw-repeat" required class="modal-input">


      <button type="submit">Sign Up</button>
      <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button>
    </div>

    
  </form>
</div>
</div>
</div>
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}