{% extends 'template.html' %}

{% block body_content %}
    
<div class="login-form">
  <script type="text/javascript" src="{{ url_for('static', filename='js/background.js')}}"></script>
  <h1>User Login</h1>
  <form action="/login" method="POST" id="loginForm">
      <label for="name">Username:</label>
      <input type="text" id="username" name="username" required>
      
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
      
      
      
      
        <button type="submit">Submit</button>
      
        
      <button class="signup" style="width:auto;"><a href="{{ url_for('registration') }}">Sign Up</a></button><label for="signup"> Not Signed Up?</label>
    </form>
  
</div>

<script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}