{% extends 'template.html' %}

{% block body_content %}
<div class="logo-row">
    <div class="logo-column">
        <a href="https://www.eticketing.co.uk/bathrugby/Events#_ga=2.94928021.841425356.1652445233-625367726.1630488202" target="_blank">
            <img src="\static\images\rugby_logos\Bath Rugby.png" alt="Bath Rugby" style="width:100%">
        </a>
    </div>
    <div class="logo-column">
        <a href="https://tickets.bristol-sport.co.uk/en-gb/categories/bristolbearshome" target="_blank">
        <img  src="\static\images\rugby_logos\Bristol Bears.png" alt="Bristol Bears" style="width:100%">
        </a>
    </div>
    <div class="logo-column">
        <a href="https://tickethub.exeterchiefs.co.uk/content?lang=en" target="_blank">
        <img  src="\static\images\rugby_logos\Exeter Rugby Chiefs.png" alt="Exceter Rugby" style="width:100%">
        </a>
    </div>
</div>
<div class="logo-row">
    <div class="logo-column">
        <a href="https://www.gloucesterrugby.co.uk/matchday/ticket-office" target="_blank">
        <img  src="\static\images\rugby_logos\Gloucester Rugby.png" alt="Gloucester Rugby" style="width:100%">
        </a>
    </div>
    <div class="logo-column">
        <a href="https://tickets.leicestertigers.com/en-GB/categories/home-tickets?utm_source=Leicester+Tigers+Website&utm_medium=Tickets+Green+Navigation+Button&utm_campaign=Tickets+Green+Navigation+Button" target="_blank">
        <img  src="\static\images\rugby_logos\Leicester Tigers.png" alt="Leicester Tigers" style="width:100%">
        </a>
    </div>
    <div class="logo-column">
        <a href="https://www.eticketing.co.uk/newcastle-falcons" target="_blank"></a>
        <img  src="\static\images\rugby_logos\Newcastle Falcons.png" alt="Newcastle Falcons" style="width:100%">
        </a>
    </div>
</div>
<div class="logo-row">
    <div class="logo-column">
        <a href="https://www.northamptonsaints.co.uk/buytickets" target="_blank">
        <img  src="\static\images\rugby_logos\Northampton Saints.png" alt="Northampton Saints" style="width:100%">
        </a>
    </div>
    <div class="logo-column">
        <a href="https://www.eticketing.co.uk/salesharksrugby/" target="_blank">
        <img  src="\static\images\rugby_logos\Sale Sharks.png" alt="Sale Sharks" style="width:100%">
        </a>
    </div>
    <div class="logo-column">
        <a href="https://www.eticketing.co.uk/saracens/Events" target="_blank">
        <img  src="\static\images\rugby_logos\Saracens FC.png" alt="Saracens FC" style="width:100%">
        </a>
    </div>
</div>

{% endblock %}