<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}} - Page</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/main.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/login.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/background.css')}}">
    <script
    src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
    crossorigin="anonymous"></script>
</head>
<header>
  <nav>
          <ul class="menu">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            <li class="logo"><a href="{{ url_for('home') }}">Trident</a></li>
            <li class="item"><a href="{{ url_for('home') }}">Home</a></li>
            <li class="item"><a href="{{ url_for('maps') }}">Map</a></li>
            <li class="item"><a href="{{ url_for('sports') }}">Sports</a></li>
            <li class="item"><a href="{{ url_for('login') }}">Account</a></li>
            <li class="item"><a href="{{ url_for('contact') }}">Contact</a></li>
            </li>
            <li class="toggle"><span class="bars"></span></li>
          </ul>
        </nav>
  </header>
<body>
      
  {%block body_content %}

  {% endblock %}
      
        <footer>
<div class="footer" style="position: absolute; bottom: 0; display: flex; justify-content: center; align-items: flex-start; ">
          <!-- <div class="contain"> -->
            <div class="col">
              <h2>Company</h2>
                <ul>
                  <li>About us</li>
                    <li> F.A.Q</li>
                    <li>Policies</li>
                  </ul>
          </div>
          <div class="col">
            <h2>Sports</h2>
              <ul>
                <li>Football</li>
                <li>Rugby</li>
                <li>Motorsport</li>
                <li>Ice Hockey</li>
              </ul>
          </div>
          <div class="col">
            <h2>Socials</h2>
              <ul>
                <li>GitHub</li>
                <!-- needs to be finished -->
                <i class="fa-brands fa-linkedin" style="color: #ffffff;"> <li>LinkedIn</li></i>
                <li>Instagram</li>
              </ul>
          </div>
      
          <div class="col">
            <h2>Contact</h2>
              <ul>
                <li>+44 07974 XXXXXX</li>
                <li>+44 01942 XXXX</li>
                <li>team@trident.uk</li>
              </ul>
          </div>
          <div class="col">
            <h2>Address </h2>
              <ul>
                <li>Somewhere</li>
          
              </ul>
          </div>
          <div class="col">
        
            <ul>
              <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" width="25" height="20" class="d-inline-block align-text-top">
              <li>Trident &copy; 2023</li>
            </ul>
          </div>
      
          <div class="clearfix"></div>
<!-- </div> -->
  
    </div>
        </footer>

    <script src="{{ url_for('static', filename='js/nav.js') }}"></script>
  </body>

</html>