/* Typewriter */

.typewriter {
  background: #00171f;
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

.typewriter h3 {
  font-size: 30px;
  background-color: #00171f;
  color: #fff;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #00a7e1; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 25% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #00a7e1 }
}

/* images */

div.row {

    float: left;

/* h3 {
  background-color: #00171f;
  color: #fff;
  text-align: center;
  word-wrap: normal; */
}

div.gallery {
    /* float: left; */

    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0;
    color: #fff;

    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  }

  div.row:hover {
    border: 1px solid #00a7e1;
    text-align: center;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  }

div.gallery:hover {
  border: 1px solid #777;
}


div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  color: #fff;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}